QWidget{
    background-color: rgb(55, 55, 55);
}

QPushButton{
    background: rgb(125, 125, 125);
    border: 0;
    border-bottom: 3px solid rgb(35, 35, 35);
    padding: 0 10 0 10;
    height: 30;
    font: 10pt "Arial";
    color: rgb(35, 35, 35);
}

QLabel{
    font: 10pt "Arial";
    color: rgb(235, 235, 235);
}

QCheckBox{
    color: rgb(235, 235, 235);
    font: 8pt "Arial";
}

QDoubleSpinBox{
    height: 34;
    font: 10pt "Arial";
    padding: 5;
    text-align: "center";
    color: rgb(235, 235, 235)
}
